<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Engines — Car Rental Service</title>
</head>

<header th:insert="fragments/header.html :: pages">
</header>

<body>
<div>
    <div th:if="${not #lists.isEmpty(engines)}">
        <div th:each="engine : ${engines}">
            <article>
                <a th:href="@{/engines/{id}(id=${engine.id})}">
                    <span th:text="${engine.name}"></span><br>
                </a>
            </article>
            <hr>
        </div>
    </div>
</div>
</body>
</html>