<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${engine.name} + ' — Car Rental Service'"></title>
    <link rel="stylesheet" th:href="@{/css/styles-common.css}">
    <link rel="stylesheet" th:href="@{/css/styles-header.css}">
</head>
<body>

<header>
    <div th:insert="fragments/header.html :: pages"></div>
    <div th:insert="fragments/header.html :: updateEngine"></div>
</header>

<div class="container">

    <h1 th:text="${engine.name}"></h1>

</div>

</body>
</html>