<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit engine — Car Rental Service</title>
    <link rel="stylesheet" th:href="@{/css/styles-common.css}">
</head>
<body>

<header th:insert="fragments/header.html :: pages"></header>

<div class="container edit-create-wrapper">
    <form class="edit-form" method="post" th:action="@{/engines/{id}/update(id=${engine.id})}">
        <h2>Common</h2>
        <div class="form-group">
            <label for="name">Model:</label>
            <input type="text" name="name" id="name"
                   th:value="${engine.name}" placeholder="Electric motor" required>
        </div>

        <div class="form-actions">
            <button type="submit">Update</button>
        </div>
    </form>
</div>
</body>
</html>