# Скопируй в .env (make это сделает сам): cp .env.example .env

# Postgres (общие креды для БД приложения и БД Keycloak)
POSTGRES_USER=developer
POSTGRES_PASSWORD=developer
POSTGRES_DB=developer

# MinIO
MINIO_ROOT_USER=developer
MINIO_ROOT_PASSWORD=developer

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=developer
KC_BOOTSTRAP_ADMIN_PASSWORD=developer
KC_HOSTNAME=localhost
KC_HOSTNAME_PORT=9090
