<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${engine.name} + ' — Car Rental Service'"></title>
    <link rel="stylesheet" th:href="@{/css/styles-make.css}">
    <link rel="stylesheet" th:href="@{/css/main-footer.css}">
    <link rel="stylesheet" th:href="@{/css/main-header.css}">
</head>
<body>
<!--<header th:replace="~{fragments/header :: make-header}"></header>-->

<div class="container">
    <h1 th:text="${engine.name}"></h1>
<!--    <section>-->
<!--        <span class="field">Country: </span> <span th:text="${carType.country}"></span><br><br>-->
<!--        <h3>Description: </h3> <span th:text="${make.description}"></span>-->
<!--    </section>-->
<!--    <section>-->
<!--        <img th:if="${carType.titleImageUrl != null}" th:src="${make.titleImageUrl}" alt="">-->
<!--    </section>-->
</div>
</body>
<footer th:replace="~{/fragments/footer :: main-footer}">
</footer>
</html>