<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car types — Car Rental Service</title>
    <link rel="stylesheet" th:href="@{/css/styles-common.css}">
    <link rel="stylesheet" th:href="@{/css/styles-list.css}">
    <link rel="stylesheet" th:href="@{/css/styles-header.css}">
</head>

<body>

<header th:insert="fragments/header.html :: pages"></header>

<div class="list-container">

    <table th:if="${page.content.empty}" class="no-items">
        <thead>
        <tr>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Car types are not found.</td>
        </tr>
        </tbody>
    </table>

    <div th:each="carType : ${page.content}" class="item-card">
        <div class="item-info">
            <h2 th:text="${carType.name}"></h2>
        </div>

        <div class="item-footer">
            <a th:href="@{/car-types/{id}(id=${carType.id})}">Profile</a>
        </div>
    </div>


</div>

<footer th:if="${!page.content.empty}">
    <nav class="pagination" aria-label="Pagination">
        <a th:href="${page.prevNumber != null ? '/car-types?'
             + 'page=' + page.prevNumber
             : '#'}"
           class="page-link" th:text="'Previous'"></a>

        <span th:each="pageNumber : ${#numbers.sequence(page.firstNumber, page.lastNumber)}">
            <a th:href="@{/car-types(
                page=${pageNumber})}"
               class="page-link" th:text="${pageNumber + 1}"></a>
        </span>

        <a th:href="${page.nextNumber != null ? '/car-types?'
             + 'page=' + page.nextNumber
             : '#'}"
           class="page-link" th:text="'Next'"></a>
    </nav>
</footer>

</body>
</html>