<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit car type — Car Rental Service</title>
    <link rel="stylesheet" th:href="@{/css/styles-common.css}">
</head>
<body>

<header th:insert="fragments/header.html :: pages"></header>

<div class="container edit-create-wrapper">
    <form class="edit-form" method="post" th:action="@{/car-types/{id}/update(id=${carType.id})}">
        <h2>Common</h2>

        <section>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name"
                       th:value="${carType.name}" placeholder="Sedan" required>
            </div>
        </section>

        <div class="form-actions">
            <button type="submit">Update</button>
        </div>
    </form>
</div>
</body>
</html>