<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${car.make.name} + ' ' + ${car.model} + ' — Car Rental Service' "></title>
</head>

<header th:insert="~{fragments/header :: car-header}">
        <span style="font-size: 20px; font-weight: bold"
              th:text="${car.make.name} + ' ' + ${car.model}"></span><br>

</header>

<body>
<h1 th:text="${car.make.name} + ' ' + ${car.model}"></h1>
<section>
    <h2>Common Information</h2>
    <span th:text="'Is available: ' + (${car.isAvailable} ? 'Yes' : 'No')"></span><br>
    <span th:text="'Year: ' + ${car.year}"></span><br>
    <span th:text="'License plate: ' + ${car.licensePlate}"></span><br>
</section>

<section th:if="${car.details}">
    <h2>Details</h2>
    <span th:if="${car.details.color}" th:text="'Color: ' + ${car.details.color}"></span><br>
    <span th:if="${car.details.mileage}" th:text="'Mileage: ' + ${car.details.mileage}"></span><br>
    <span th:if="${car.details.fuelType}" th:text="'Fuel type: ' + ${car.details.fuelType}"></span><br>
    <span th:if="${car.details.transmission}" th:text="'Transmission: ' + ${car.details.transmission}"></span><br>
</section>

<section th:unless="${car.details}"><br>
    <hr>
    <span style="color: black; font-style: italic">You doesnt have details.
    <br>You can edit car in header.</span><br>
</section>

<section th:if="${car.images}">
    <h2>Images</h2>
    <div th:each="image : ${car.images}">
        <span th:text="${image.url}"></span><br>
        <span th:text="${image.uploadedAt}"></span><br>
    </div>
</section>
</body>
</html>