<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${car.make} + ' ' + ${car.model} + ' — Car Rental Service' "></title>
</head>
<body>
<div>
    <header th:insert="~{fragments/header :: car-header}">
        <span style="font-size: 20px; font-weight: bold"
              th:text="${car.make} + ' ' + ${car.model}"></span><br>
    </header>

    <section th:if="${car.images}">
        <h3>Images</h3>
        <div th:each="image : ${car.images}">
            <span th:text="${image.url}"></span><br>
            <span th:text="${image.uploadedAt}"></span><br>
        </div>
    </section>

    <section>
        <h3>Car Details</h3>
        <span th:text="'Is available: ' + (${car.isAvailable} ? 'Yes' : 'No')"></span><br>
        <span th:text="'Year: ' + ${car.year}"></span><br>
        <span th:text="'License plate: ' + ${car.licensePlate}"></span><br>
    </section>

    <section th:if="${car.details}">
        <h3>Additional Details</h3>
        <span th:text="'Color: ' + ${car.details.color}"></span><br>
        <span th:text="'Mileage: ' + ${car.details.mileage}"></span><br>
        <span th:text="'Fuel type: ' + ${car.details.fuelType}"></span><br>
        <span th:text="'Transmission: ' + ${car.details.transmission}"></span><br>
    </section>
</div>
</body>
</html>