<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars &ndash; Car Rental Service</title>
    <link rel="stylesheet" href="/cars/styles-list.css">
</head>
<header th:insert="~{/fragments/header :: main-header}">
</header>
<body>
<div th:each="car : ${cars}" class="car-item">
    <article>
        <section class="car-info">
            <h2 th:text="${car.make.name} + ' ' + ${car.model}"></h2>
        </section>

        <section class="car-details">
            <p th:text="'Is available: ' + (${car.isAvailable} ? 'Yes' : 'No')"></p>
            <p th:text="'Year: ' + ${car.year}"></p>
            <p th:text="'License plate: ' + ${car.licensePlate}"></p>
        </section>

        <footer class="car-footer">
            <a th:href="@{/cars/{id}(id=${car.id})}">Details</a>
        </footer>
    </article>
    <hr>
</div>
</body>
</html>