<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars &ndash; Car Rental Service</title>
</head>
<header th:insert="~{/fragments/header :: main-header}">

</header>
<body>
<div th:each="car : ${cars}" style="position: relative; top: 30px">
    <article>
        <section>
            <span style="font-size: 20px; font-weight: bold"
                  th:text="${car.make} + ' ' + ${car.model}"></span><br>
        </section>

        <section>
            <span th:text="'Is available: ' + (${car.isAvailable} ? 'Yes' : 'No')"></span><br>
            <span th:text="'Year: ' + ${car.year}"></span><br>
            <span th:text="'License plate: ' + ${car.licensePlate}"></span><br>
        </section>

        <footer>
            <a th:href="@{/cars/{id}(id=${car.id})}">
                Details
            </a>
        </footer>
    </article>
    <hr>
</div>
</body>
</html>