<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>

<div sec:authorize="hasRole('ADMIN')" th:fragment="createMake">
    <a class="header-link" th:href="@{/makes/create}">
        New make
    </a>
</div>

<div sec:authorize="hasRole('ADMIN')" th:fragment="updateMake">
    <a class="header-link" th:href="@{/makes/{id}/update(id=${make.id})}">
        Update make
    </a>
</div>

<div sec:authorize="hasRole('ADMIN')" th:fragment="createCar">
    <a class="header-link" th:href="@{/cars/create}">
        New car
    </a>
</div>

<div sec:authorize="hasRole('ADMIN')" th:fragment="updateCar">
    <a class="header-link" th:href="@{/cars/{id}/update(id=${car.id})}">
        Update car
    </a>
</div>

<div sec:authorize="hasRole('ADMIN')" th:fragment="createCarType">
    <a class="header-link" th:href="@{/car-types/create}">
        New car type
    </a>
</div>

<div sec:authorize="hasRole('ADMIN')" th:fragment="updateCarType">
    <a class="header-link" th:href="@{/car-types/{id}/update(id=${carType.id})}">
        Update car type
    </a>
</div>

<div sec:authorize="hasRole('ADMIN')" th:fragment="createEngine">
    <a class="header-link" th:href="@{/engines/create}">
        New engine
    </a>
</div>

<div sec:authorize="hasRole('ADMIN')" th:fragment="updateEngine">
    <a class="header-link" th:href="@{/engines/{id}/update(id=${engine.id})}">
        Update engine
    </a>
</div>

<div sec:authorize="hasRole('ADMIN')" th:fragment="usersRentals">
    <a class="header-link" sec:authorize="hasRole('ADMIN')" th:href="@{/rentals/users}">
        User's rentals
    </a>
</div>

<div th:fragment="pages">
    <a class="header-link" th:href="@{/}">
        Home
    </a>
    <a class="header-link" th:href="@{/cars}">
        Cars
    </a>
    <a class="header-link" th:href="@{/makes}">
        Makes
    </a>
    <a class="header-link" th:href="@{/engines}">
        Engines
    </a>
    <a class="header-link" th:href="@{/car-types}">
        Car types
    </a>
    <a class="header-link" sec:authorize="isAuthenticated()" th:href="@{/rentals}">
        Rentals
    </a>
    <a class="header-link" sec:authorize="isAuthenticated()" th:href="@{/oauth2/account}">
        Profile
    </a>

    <a class="header-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">
        Log out
    </a>
    <a class="header-link" sec:authorize="!isAuthenticated()" th:href="@{/oauth2/authorization/keycloak}">
        Log in
    </a>
</div>
</body>
</html>