<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div th:fragment="to-car">
    <a th:href="@{/cars/{id}(id=${car.id})}" class="header-link">&#8592; To car</a>
</div>
<div th:fragment="to-cars-list">
    <a th:href="@{/cars/list}" class="header-link">&#8592; To list</a>
</div>
<div th:fragment="to-makes-list">
    <a th:href="@{/makes/list}" class="header-link">&#8592; To list</a>
</div>
<div th:fragment="car-edit">
    <a th:href="@{/cars/{id}/edit(id=${car.id})}" class="header-link">Edit</a>
</div>
<div th:fragment="make-edit">
    <a th:href="@{/makes/{id}/edit(id=${make.id})}" class="header-link">Edit</a>
</div>

<div th:fragment="car-header" class="header">
    <a th:insert="~{fragments/header :: to-cars-list}"></a>
    <a th:insert="~{fragments/header :: car-edit}"></a>
</div>

<div th:fragment="make-header" class="header">
    <a th:insert="~{fragments/header :: to-makes-list}"></a>
    <a th:insert="~{fragments/header :: make-edit}"></a>
</div>

<div th:fragment="main-header" class="header">
    <a th:href="@{/cars/create}" class="header-link">New car</a>
    <a th:href="@{/makes/create}" class="header-link">New make</a>
    <a th:href="@{/cars/list}" class="header-link">All cars</a>
    <a th:href="@{/makes/list}" class="header-link">Makes</a>
</div>
</body>
</html>