<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Please Log In</title>
</head>
<body>
<div>
    <h1>Please Log In</h1>

    <div th:if="${param.error}" class="error-message">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="logout-message">
        You have been logged out.
    </div>
    <div th:if="${param.registered}" class="register-message">
        You have been registered. Now enter these credentials.
    </div>

    <form th:action="@{/users/login}" method="post">
        <div>
            <label for="username">Email</label>
            <input type="text" name="username" id="username" placeholder="Enter your email" required/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required/>
        </div>
        <br>
        <button type="submit">Log in</button>
    </form>

    <div>
        <p>Don't have an account? <a th:href="@{/users/register}">Register here</a></p>
    </div>
</div>
</body>
</html>