
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.cars-list {
    margin: 20px;
    padding: 0;
}
.car-item {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.car-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-info {
}

.car-info h2 {
    color: #e8491d;
    margin-top: 0;
    margin-bottom: 5px;
}

.car-details img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    width: 550px;
    height: 225px;
    border: 2px solid #e8491d;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 100px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    margin-top: 20px;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link {
    color: #e8491d;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
    margin-left: 5px;
    border-radius: 0.25rem;
}

.filter {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
}


.filter-form .form-group {
    margin-bottom: 0;
    margin-right: 10px;
    flex: 1;
}

.filter-form label {
    margin-bottom: 5px;
    display: block;

}

.filter-form .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.filter-form select {
    width: 100%;
}


.filter-form button {
    background-color: #e8491d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-height: 40px;
    align-self: flex-end;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    flex: 0 0 auto;
}

.filter-form button:hover {
    background-color: #c63913;
}

.page-link:hover {
    color: #e8491d;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    background-color: #e8491d;
    border-color: #e8491d;
    color: #fff;
    font-weight: bold;
}

.car-details p {
    margin: 5px 0;
}


.car-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-footer a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e8491d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.car-footer a:hover {
    background-color: #c73810;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}