body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.field {
    font-weight: bold;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h3 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 0;
}