header {
    background: #333;
    color: #e8491d;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header-link {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 5px;
    font-size: 20px;
}

.header-link:hover {
    color: #007BFF;
    background-color: rgba(0, 123, 255, 0.1);
    color: #fff;
}