<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Car &ndash; Car Rental Service</title>
    <link rel="stylesheet" th:href="@{/css/styles-car-edit.css}">
    <link rel="stylesheet" th:href="@{/css/main-footer.css}">
    <link rel="stylesheet" th:href="@{/css/main-header.css}">
</head>
<header th:replace="~{/fragments/header :: cars-header}">
</header>

<body>
<div class="container">
    <form class="edit-form" method="post" th:action="@{/cars/create}" enctype="multipart/form-data">
        <h2>Common information</h2>
        <section class="form-group" th:object="${write}">
            <label for="makeId">Make:
                <select id="makeId" name="makeId" required th:field="*{makeId}">
                    <option value="" disabled selected>Choose the make</option>
                    <option th:each="make : ${makes}"
                            th:value="${make.id}"
                            th:text="${make.name}"
                            th:selected="${write != null ? write.makeId == make.id : ''}">
                    </option>
                </select>
            </label><br>

            <label for="model">Model:
                <input th:field="*{model}"
                       type="text" name="model" id="model"
                       th:value="${write != null ? write.model : ''}"
                       placeholder="Camry" required>
            </label><br>

            <label for="year">Year:
                <input th:field="*{year}"
                       type="text" name="year" id="year"
                       th:value="${write != null ? write.year : ''}"
                       placeholder="____" required max="4">
            </label><br>

            <label for="licensePlate">License plate:
                <input th:field="*{licensePlate}"
                       type="text" name="licensePlate" id="licensePlate"
                       th:value="${write != null ? write.licensePlate : ''}"
                       placeholder="AAA111" required>
            </label><br>
        </section>

        <section class="form-group">
            <label for="title" class="labelFile">Title image:
                <input type="file" name="title" id="title" accept="image/*">
            </label><br>
        </section>

        <section class="form-group" th:object="${carDetails}">
            <h3>Details</h3>

            <label for="color">Color:
                <input th:field="*{color}" type="text" name="color" id="color" placeholder="Red">
            </label><br>

            <label for="mileage">Mileage:
                <input th:field="*{mileage}" type="text" name="mileage" id="mileage" placeholder="Mileage">
            </label><br>

            <label for="fuelType">Fuel type:
                <select id="fuelType" name="fuelType">
                    <option value="" disabled selected>Choose fuel type</option>
                    <option th:value="'Gasoline'" th:text="'Gasoline'"
                            th:selected="${carDetails.fuelType == 'Gasoline'}"></option>
                    <option th:value="'Diesel'" th:text="'Diesel'"
                            th:selected="${carDetails.fuelType == 'Diesel'}"></option>
                    <option th:value="'Ethanol'" th:text="'Ethanol'"
                            th:selected="${carDetails.fuelType == 'Ethanol'}"></option>
                    <option th:value="'Electric'" th:text="'Electric'"
                            th:selected="${carDetails.fuelType == 'Electric'}"></option>
                    <option th:value="'Hybrid electric'" th:text="'Hybrid electric'"
                            th:selected="${carDetails.fuelType == 'Hybrid electric'}"></option>
                    <option th:value="'Natural gas'" th:text="'Natural gas'"
                            th:selected="${carDetails.fuelType == 'Natural gas'}"></option>
                </select>
            </label><br>

            <label for="transmission">Transmission:
                <select id="transmission" name="transmission">
                    <option value="" selected disabled>Choose transmission</option>
                    <option th:value="'Automatic transmission'"
                            th:selected="${carDetails.transmission == 'Automatic transmission'}">
                        Automatic transmission
                    </option>
                    <option th:value="'Manual transmission'"
                            th:selected="${carDetails.transmission == 'Manual transmission'}">Manual
                        transmission
                    </option>
                    <option th:value="'Semi-automatic transmission'"
                            th:selected="${carDetails.transmission == 'Semi-automatic transmission'}">Semi-automatic
                        transmission
                    </option>
                </select>
            </label><br>
        </section>
        <section class="form-group">
            <label for="file" class="labelFile">Image:
                <input type="file" id="file" name="file" accept="image/*">
            </label><br>
        </section>
        <button type="submit">Create</button>
    </form>
</div>
</body>
<footer th:insert="~{/fragments/footer :: main-footer}">
</footer>
</html>