<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Update ' + ${car.make.name} + ' ' + ${car.model} + ' — Car Rental Service'"></title>
</head>
<body>
<div>
    <form method="post" th:action="@{/cars/{id}/update(id=${car.id})}">
        <h2>Common:</h2>
        <section>
            <label for="makeId">Make:
                <select id="makeId" name="makeId" required>
                    <option value="" disabled selected>Choose the make</option>
                    <option th:each="make : ${makes}"
                            th:value="${make.id}"
                            th:text="${make.name}"
                            th:selected="${car.make.id == make.id}">
                    </option>
                </select>
            </label><br>

            <label for="carTypeId">Type of car:
                <select id="carTypeId" name="carTypeId" required>
                    <option value="" disabled selected>Choose the type</option>
                    <option th:each="carType : ${carTypes}"
                            th:value="${carType.id}"
                            th:text="${carType.name}"
                            th:selected="${car.carTypeId == carType.id}">
                    </option>
                </select>
            </label><br>

            <label for="engineId">Engine:
                <select id="engineId" name="engineId" required>
                    <option value="" disabled selected>Choose the engine</option>
                    <option th:each="engine : ${engines}"
                            th:value="${engine.id}"
                            th:text="${engine.name}"
                            th:selected="${car.engineId == engine.id}">
                    </option>
                </select>
            </label><br>

            <label for="model">Model:
                <input type="text" name="model" id="model"
                       th:value="${car.model}"
                       placeholder="Camry" required>
            </label><br>

            <label for="year">Year:
                <input type="text" name="year" id="year"
                       th:value="${car.year}"
                       placeholder="____" required max="4">
            </label><br>

            <label for="licensePlate">License plate:
                <input type="text" name="licensePlate" id="licensePlate"
                       th:value="${car.licensePlate}"
                       placeholder="AAA111" required>
            </label><br>
<!--            <label>Title image:</label>-->
<!--            <div th:each="image, iter : ${car.images}">-->
<!--                <input type="radio" name="titleImageId" th:id="${'titleImageId' + iter.index}" th:value="${image.id}">-->
<!--                <label th:for="${'titleImageId' + iter.index}">-->
<!--                    <img th:src="${image.url}" alt="Here must be image.">-->
<!--                </label>-->
<!--            </div>-->
        </section>


        <section th:if="${car.information}">
            <h3>Information:</h3>

            <label for="description">Description:
                <input type="text" name="description" id="description" th:value="${car.information.description}" placeholder="Did not beaten.">
            </label><br>

            <label for="color">Color:
                <input type="text" name="color" id="color" th:value="${car.information.color}" placeholder="Red">
            </label><br>

            <label for="mileage">Mileage:
                <input type="text" name="mileage" id="mileage"  th:value="${car.information.mileage}" placeholder="5000">
            </label><br>

            <label for="seats">Seats:
                <input type="text" name="seats" id="seats"  th:value="${car.information.seats}" placeholder="5">
            </label><br>

            <label for="fuelType">Fuel type:
                <select id="fuelType" name="fuelType">
                    <option th:value="''"
                            th:selected="${car.information.fuelType == null}">Nothing chosen</option>
                    <option th:value="'Gasoline'" th:text="'Gasoline'"
                            th:selected="${car.information.fuelType == 'Gasoline'}"></option>
                    <option th:value="'Diesel'" th:text="'Diesel'"
                            th:selected="${car.information.fuelType == 'Diesel'}"></option>
                    <option th:value="'Ethanol'" th:text="'Ethanol'"
                            th:selected="${car.information.fuelType == 'Ethanol'}"></option>
                    <option th:value="'Electric'" th:text="'Electric'"
                            th:selected="${car.information.fuelType == 'Electric'}"></option>
                    <option th:value="'Hybrid electric'" th:text="'Hybrid electric'"
                            th:selected="${car.information.fuelType == 'Hybrid electric'}"></option>
                    <option th:value="'Natural gas'" th:text="'Natural gas'"
                            th:selected="${car.information.fuelType == 'Natural gas'}"></option>
                </select>
            </label><br>

            <label for="transmission">Transmission:
                <select id="transmission" name="transmission">
                    <option th:value="''"
                            th:selected="${car.information.transmission == null}">
                        Nothing chosen
                    </option>

                    <option th:value="'Automatic transmission'"
                            th:selected="${car.information.transmission == 'Automatic transmission'}">
                        Automatic transmission
                    </option>

                    <option th:value="'Manual transmission'"
                            th:selected="${car.information.transmission == 'Manual transmission'}">Manual
                        transmission
                    </option>

                    <option th:value="'Semi-automatic transmission'"
                            th:selected="${car.information.transmission == 'Semi-automatic transmission'}">Semi-automatic
                        transmission
                    </option>
                </select>
            </label><br>
        </section>
        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>