<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moderator menu</title>
</head>

<header th:insert="fragments/header.html :: pages">
</header>

<body>
<div>
    <ul>
        <li>
            <a th:href="@{/car-types/create}"> CREATE CAR TYPE</a>
        </li>

        <li>
            <a th:href="@{/engines/create}"> CREATE ENGINE</a>
        </li>

        <li>
            <a th:href="@{/makes/create}"> CREATE MAKE</a>
        </li>

        <li>
            <a th:href="@{/cars/create}"> CREATE CAR</a>
        </li>
    </ul>
</div>
</body>
</html>