body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-group {
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

h1 {
    color: #e8491d;
    margin-bottom: 20px;
}

.error-message {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ff0000;
}

.logout-message,
.register-message{
    color: #008000;
    background-color: #e6ffe6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #008000;
}

.login-form {
    display: flex;
    flex-direction: column;
}