<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Makes - Car Rental Service</title>
</head>
<body>

<div th:if="${not #lists.isEmpty(makes)}">
    <div th:each="make : ${makes}">
        <img th:if="${make.titleImgUrl != null}"
             th:src="${make.titleImgUrl}"
             th:alt="${make.name + ' logo'}" />

        <h4 th:text="${make.name}"></h4><br>

        <a th:href="@{/makes/{id}(id=${make.id})}">
            <span>Profile</span>
        </a><br>

        <a th:href="@{/cars/list(makeId=${make.id})}">
            <span th:text="'Cars by ' + ${make.name}"></span>
        </a><br>
        <hr class="make-separator">
    </div>
</div>

<div th:if="${#lists.isEmpty(makes)}">
    <p>No makes available.</p>
</div>

</body>
</html>