<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${make.name} + ' — Car Rental Service'"></title>
</head>

<body>

<div>
    <h1 th:text="${make.name}"></h1>
    <section th:if="${make.titleImage}">
        <h3>Title image: </h3>
        <img th:src="${make.titleImage.url}" alt="">
    </section>

    <section th:if="${make.images}">
        <ul>
            <li th:each="image : ${make.images}">
                <img th:src="${image.url}" alt="Here must be image"/><br>
                <span th:text="'Image uploaded at: ' + ${image.uploadedAt}"></span><br>
            </li>
        </ul>
    </section>

    <div th:if="${make.information}">
        <section th:if="${make.information.country}">
            <h3>Country:</h3>
            <span th:text="${make.information.country}"></span><br>
        </section>

        <section th:if="${make.information.description}">
            <h3>Description: </h3>
            <span th:text="${make.information.description}"></span>
        </section>

        <section th:if="${make.information.foundedAt}">
            <h3>Founded at: </h3>
            <span th:text="${make.information.foundedAt}"></span>
        </section>

        <section th:if="${make.information.founder}">
            <h3>Founder: </h3>
            <span th:text="${make.information.founder}"></span>
        </section>

        <section th:if="${make.information.owner}">
            <h3>Owner: </h3>
            <span th:text="${make.information.owner}"></span>
        </section>
    </div>
</div>
</body>
</html>