<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Updating ' + ${make.name} + ' — Car Rental Service'"></title>
</head>
<body>
<div>
    <form method="post" th:action="@{/makes/{id}/update(id=${make.id})}" enctype="multipart/form-data">
        <h2>Make information.</h2>

        <h4>Name:</h4>
        <label for="name">
            <input type="text" name="name"
                   th:value="${make.name}"
                   id="name" placeholder="Toyota" required>
        </label><br>

        <h4>Country:</h4>
        <label for="country">
            <input type="text" name="country"
                   th:value="${make.information.country}"
                   id="country" placeholder="Japan">
        </label><br>

            <h4>Description:</h4>
        <label for="description"><br>
            <textarea id="description"
            name="description"
            placeholder="Japanese multinational automotive manufacturer" rows="4" cols="80"
            th:text="${make.information.description}">
            </textarea>
        </label><br>

        <h4>Founder:</h4>
        <label for="founder">
            <input type="text" name="founder" id="founder" placeholder="Mads Mikkelsen"
                   th:value="${make.information.founder}">
        </label><br>


        <h4>Date of foundation:</h4>
        <label for="foundedAt">
            <input type="date" name="foundedAt" id="foundedAt" placeholder="2018-07-22"
                   th:value="${make.information.foundedAt}">
        </label><br>


        <h4>Owner:</h4>
        <label for="owner">
            <input type="text" name="owner" id="owner" placeholder="BMW Group"
                   th:value="${make.information.owner}">
        </label><br>

        <section th:if="${make.titleImage}">
            <label>Current title image:</label>
            <img th:src="${make.titleImage.url}" alt="Current title image.">
        </section>

        <section th:if="${make.images != null and !#lists.isEmpty(make.images)}">
            <label>Select a new title image:</label>
            <div th:each="image : ${make.images}">
                <label th:for="${'image_' + image.id}">
                    <input type="radio" name="titleImageId"
                           th:id="${'image_' + image.id}"
                           th:value="${image.id}"
                           th:checked="${make.titleImage != null and make.titleImage.id == image.id}">
                    <img th:src="${image.url}" alt="Image option">
                    <span th:text="'Uploaded at: ' + ${image.uploadedAt}"></span>
                </label>
            </div>
        </section>

        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>