<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${make.name} + ' — Car Rental Service'"></title>
    <link rel="stylesheet" th:href="@{/css/styles-make.css}">
    <link rel="stylesheet" th:href="@{/css/main-footer.css}">
    <link rel="stylesheet" th:href="@{/css/main-header.css}">
</head>
<body>
<header th:replace="~{fragments/header :: make-header}"></header>

<div class="container">
    <h1 th:text="${make.name}"></h1>
    <section>
        <span class="field">Country: </span> <span th:text="${make.country}"></span><br><br>
        <h3>Description: </h3> <span th:text="${make.description}"></span>
    </section>
</div>
</body>
<footer th:replace="~{/fragments/footer :: main-footer}">
</footer>
</html>