<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Make &ndash; Car Rental Service </title>
</head>
<header th:insert="~{/fragments/header :: to-makes-list}">
</header>
<body>
<div>
    <h2>Make information.</h2>
    <form method="post" th:action="@{/makes/create}">
        <label for="name"><br>Name:
            <input th:field="*{make.name}" type="text" name="name" id="name"
                   placeholder="Toyota" required>
        </label><br>

        <label for="country"><br>Country:
            <input th:field="*{make.country}" type="text" name="country" id="country"
                   placeholder="Japan" required>
        </label><br>

        <label for="description"><br>Description:
            <br>
            <textarea th:field="*{make.description}" name="description" id="description"
                      placeholder="Japanese multinational automotive manufacturer" rows="4" cols="80" style="resize: none">
            </textarea>
        </label><br>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>