<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${make.name} + ' — Car Rental Service'"></title>
    <link rel="stylesheet" th:href="@{/css/styles-common.css}">
    <link rel="stylesheet" th:href="@{/css/styles-header.css}">
</head>
<body>

<header>
    <div th:insert="fragments/header.html :: pages"></div>
    <div th:insert="fragments/header.html :: updateMake"></div>
</header>

<div class="container">
    <h1 th:text="${make.name}"></h1>

    <section>
        <h2>Details</h2>

        <div th:if="${make.titleImage}" class="image-gallery">
            <span class="field">Title image:</span>
            <img th:src="${make.titleImage.url}" alt="Title image">
        </div>

        <div th:if="${make.images != null and !#lists.isEmpty(make.images)}" class="image-gallery">
            <h3>Gallery</h3>
            <ul>
                <li th:each="image : ${make.images}">
                    <img th:src="${image.url}" alt="Image">
                    <span th:text="'Uploaded at: ' + ${image.uploadedAt}"></span>
                </li>
            </ul>
        </div>

        <section th:if="${make.information}">
            <label class="field" th:if="${make.information.country}">
                <span>Country: </span>
                <span th:text="${make.information.country}"></span><br>
            </label>

            <label class="field" th:if="${make.information.description}">
                <span>Description: </span>
                <span th:text="${make.information.description}"></span><br>
            </label>

            <label class="field" th:if="${make.information.foundedAt}">
                <span>Founded at: </span>
                <span th:text="${make.information.foundedAt}"></span><br>
            </label>

            <label class="field" th:if="${make.information.founder}">
                <span>Founder: </span>
                <span th:text="${make.information.founder}"></span><br>
            </label>

            <label class="field" th:if="${make.information.owner}">
                <span>Owner: </span>
                <span th:text="${make.information.owner}"></span><br>
            </label>
        </section>
    </section>
</div>
</body>
</html>